<div class="row"><br></div>
<div class="row">
<div class="col-1"></div>
<div class="col-10">
<% @gadget[0..4].each do |disp|%>
    <div class="card mb-3" style="">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img src="<%= disp.image %>" class="img-thumbnail">
                </div>  
                <div class="col-8">  
                    <h5><%= disp.gadget_name %></h5>
                    <div id=""><p class="card-text">製品情報：<%= disp.gadget_info %></p></div>
                    <%= link_to "レビューを見る", reviews_path(id: disp.id) ,class: "btn btn-primary float-right mt-3"%>
                </div>
            </div>
        </div>
    </div>
<% end %>
</div>
<div class="col-1"></div>
</div>

