// Place all the styles related to the review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .hyouka1{
//     display: -ms-flex;
//     display: -webkit-flex;
//     display: -moz-flex;
//     display: -o-flex;
//     display: flex;
//     flex-direction: -ms-row-reverse;
//     flex-direction: -webkit-row-reverse;
//     flex-direction: -moz-row-reverse;
//     flex-direction: -o-row-reverse; 
//     flex-direction: row-reverse;
//     justify-content: -ms-right;
//     justify-content: -webkit-right;
//     justify-content: -moz-right;
//     justify-content: -o-right;
//     justify-content: flex-end; 
// }
// .hyouka1 input[type='radio']{
//     display: none;
// }
// .hyouka1 input[type='radio']{
//     display: none;
//   }
// .hyouka1 label{
//     position: relative;
//     padding: 10px 0px 20px 0px;
//     color: #bbb;
//     cursor: pointer;
//     font-size: 30px;
// }
// .hyouka1 label:hover,
// .hyouka1 label:hover ~ label,
// .hyouka1 input[type='radio']:checked ~ label{
//  color: #ffd700;
// }
   
#AddForm1{
    display: none;
}
#AddForm2{
    display: none;
}
#AddForm3{
    display: none;
}
#AddForm4{
    display: none;
}
#AddForm5{
    display: none;
}
#AddForm6{
    display: none;
}